In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Loading the dataset 
df = pd.read_csv("C:\\Users\\gsury\\OneDrive\\Desktop\jaya\CarPrice_Assignment.csv")

In [3]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["CarName"]=le.fit_transform(df["CarName"])
df["fueltype"]=le.fit_transform(df["fueltype"])
df["aspiration"]=le.fit_transform(df["aspiration"])
df["doornumber"]=le.fit_transform(df["doornumber"])
df["carbody"]=le.fit_transform(df["carbody"])
df["drivewheel"]=le.fit_transform(df["drivewheel"])
df["carbody"]=le.fit_transform(df["carbody"])
df["enginetype"]=le.fit_transform(df["enginetype"])
df["cylindernumber"]=le.fit_transform(df["cylindernumber"])
df["fuelsystem"]=le.fit_transform(df["fuelsystem"])
df["enginelocation"]=le.fit_transform(df["enginelocation"])

In [4]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [5]:
df.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,2,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,3,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,1,1,0,1,2,2,0,94.5,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,4,1,0,0,3,1,0,99.8,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,5,1,0,0,3,0,0,99.4,...,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0

In [6]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initializing the Linear Regression model
model = LinearRegression()

In [8]:
print(X_train)

[[6.70e+01 0.00e+00 6.00e+01 ... 4.20e+03 3.10e+01 3.90e+01]
 [1.12e+02 0.00e+00 8.50e+01 ... 5.00e+03 1.90e+01 2.40e+01]
 [1.54e+02 0.00e+00 1.21e+02 ... 4.80e+03 3.10e+01 3.70e+01]
 ...
 [9.30e+01 1.00e+00 7.60e+01 ... 5.20e+03 3.10e+01 3.70e+01]
 [1.80e+02 3.00e+00 1.20e+02 ... 5.20e+03 1.90e+01 2.40e+01]
 [1.03e+02 0.00e+00 7.20e+01 ... 5.20e+03 1.70e+01 2.20e+01]]

In [9]:
print(y_train)

[18344.  15580.   6918.   7499.   9095.   6229.   7053.  16900.  12964.
  6295.  16558.   7099.   8948.   7349.  15250.   8449.  11845.  37028.
  5389.   9233.  17199.  11248.  16503.  10698.   6855.  20970.   7295.
 22018.  10345.   6938.  18150.   7603.   6095.  16695.   9538.  12945.
 12764.   6669.   7957.   7609.  18620.  16845.  18150.  16500.   6189.
 11048.   7609.  34028.   6989.   5118.   7295.  17075.  10595.   6377.
 15510.  13845.   6529.  16925.  18950.   8058.  17710.   8558.  32528.
 15985.   7126.  17450.   5399.  12440.   9495.  16630.   8013.  16430.
 10245.   5572.   5348.  11199.  13495.   7995.   7975.  31600.  22470.
 11245.   8916.5  9298.   8921.  10295.  13200.   8921.   7957.   8778.
 11595.   8499.   8845.  17669.  32250.   7299.   7898.   6785.   7775.
 13950.  19699.   6695.  12170.   8195.   8358.   9980.  36000.   9959.
  7129.  18920.  13860.   6649.  14869.  15750.   8495.   5499.  23875.
 21105.   8845.  10898.   9895.  36880.  35056.  15690.  15040.  11549.
 18420.  10795.   7395.  11900.   5195.  19045.   9989.  15645.  35550.
  9279.   5572.  13645.   7738.  16515.  31400.5  7895.   7198.  12290.
 16500.   6795.  11694.   9295.   6338.  13499.   8949.  17950.   9279.
 45400.   6692.  22625.   6575.   9995.  34184.  18399.  24565.   6849.
 15998.  14399. ]

In [12]:
print(X_test)

[[1.60e+01 0.00e+00 1.30e+01 ... 5.40e+03 1.60e+01 2.20e+01]
 [1.00e+01 0.00e+00 8.00e+00 ... 5.50e+03 1.60e+01 2.20e+01]
 [1.01e+02 0.00e+00 7.90e+01 ... 5.20e+03 2.70e+01 3.40e+01]
 ...
 [4.60e+01 0.00e+00 4.60e+01 ... 5.40e+03 3.80e+01 4.30e+01]
 [8.50e+01 3.00e+00 6.60e+01 ... 5.00e+03 1.90e+01 2.40e+01]
 [1.47e+02 0.00e+00 1.10e+02 ... 4.80e+03 2.80e+01 3.20e+01]]

In [13]:
print(y_test)

[30760.    17859.167  9549.    11850.    28248.     7799.     7788.
  9258.    10198.     7775.    13295.     8238.    18280.     9988.
 40960.     6488.     5151.    12629.     8189.     9960.     8495.
 13499.     8249.     6479.     6692.    41315.     9639.    13415.
  7999.    12940.    25552.     6229.     7898.    21485.     7689.
 28176.    11259.    10945.     8916.5   14489.     7463.   ]

In [26]:
model.fit(X_train, y_train)

# Making predictions on the test data
y_pred = model.predict(X_test)

In [27]:
print(y_pred)

[25783.25418642 17590.19034007  9749.41774329 13344.41148125
 27280.94377292  6357.70028107  8713.26230338  5734.28057726
  9449.29974282  7106.92604731 13742.38737314  5979.00747713
 16651.11471939 10552.79250236 40457.1636125   6710.72559894
   484.11999496 14240.99382584  9727.97223046 10460.90898101
 10941.50660196 21136.81726627  8177.97185747  3244.00794152
  7777.92851044 24504.52472833 14092.94909723 15826.15799989
  5244.08940192 16102.44725101 27166.32467284  7239.59071361
  4578.17478895 22177.76526526  8255.66494855 27497.23172714
 10063.67575722  9984.91341199  6800.48179645 14644.70979449
  7421.77429318]

In [31]:
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.2f}")

Mean Squared Error: 12306121.30